:root {
    --dark: #16191C;
    --dark-x: #1E2126; 
    --light: #ffffff;
}

body {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    color: var(--light);
}
.img-1 {
    background-image: url('../img/carousel/img-1.jpg');
    background-size: cover;
    background-position: center;
}

.img-2 {
    background-image: url('../img/carousel/img-2.jpg');
    background-size: cover;
    background-position: center;
}

.img-logo{
    height:100px;
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    /*
    background: red;
    padding:20px;
    height:100vh;
    width:60vw;
    */
}
.col-centered{
    float: none;
    margin: 0 auto;
}

.text-light { color: var(--light) !important; }
.bg-dark { background-color: var(--dark) !important; }
.bg-dark-x { background-color: var(--dark-x); }

.btn {
    min-height: 3.125rem;
    font-weight: 600;
}

.form-control {
    min-height: 3.125rem;
    line-height: initial;
}
.form-control:focus {
    background-color: var(--dark-x);
    outline: none;
}

